html {
  font-family: "Lato", sans-serif;
}

section {
  display: flex;
  width: 100%;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
}

header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav.mobile {
  display: none;
}

.logo {
  display: inline-flex;
  align-items: center;
  height: 32px;
  margin-left: 24px;
}

.logo span {
  text-transform: uppercase;
  vertical-align: middle;
  line-height: 27px;
}

#one {
  font-weight: 700;
  font-size: 1.2rem;
  color: #051838;
}

#two {
  font-size: 1.2rem;
  font-weight: 300;
  color: #4d648d;
}

nav ul {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 24px;
}

ul li a {
  margin-left: 16px;
  text-decoration: none;
  color: #4d648d;
}

ul li a:hover {
  color: #051838;
}

@media only screen and (max-width: 768px) {
  header .logo, header nav {
    display: none;
  }

  nav.mobile, nav.mobile ul {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
  }
}

section.banner {
  background-color: #7789AA;
}

.bannerimg {
  width: 60%;
  height: auto;
  padding: 32px 24px;
}

.banner img {
  width: 100%;
  height: auto;
}

.bannerinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 320px;
}

.banner h1 {
  font-size: 2.5rem;
  color: #051838;
  margin-bottom: 24px;
}

.banner h2 {
  font-size: 1.5rem;
  color: #051838;
  line-height: 1.2;
  margin-bottom: 24px;
}

.bannerinfo a {
  width: 80%;
  margin-left: 10%;
  background: #152c55;
  text-align: center;
  font-size: 1.05rem;
  font-weight: bold;
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-decoration: none;
  color: #7789aa;
}

.bannerinfo a:hover {
  background: #2d4571;
  color: white;
}

@media only screen and (max-width: 768px) {
  section.banner {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .bannerimg {
    width: 100%;
    padding: 0 0;
  }

  .bannerinfo {
    width: 100%;
    padding: 32px 16px;
    text-align: center;
  }

  .bannerinfo h1,
  .bannerinfo h2 {
    margin-left: 32px;
    margin-right: 32px;
  }
}
